@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --sidebar-background: #1992d7;
    --p-background: #dbeafe;
    --orange-color: #E66D28;
    --project-background: #dfdfdf;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100vh;
}

/* side bar styles */
.sidebar {
    background: var(--sidebar-background);
    color: white;
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    padding: 18px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
    gap: 35px;
    font-weight: bold;
    font-size: 18px;
}

.dash-image {
    width: 35px;
}

.side-title {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 22px;
    font-weight: bold;
    
}

.side-list li,
.side-settings li {
    display: flex;
    align-items: center;
    gap: 20px;

}
.side-list,
.side-settings {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.settings-list,
.main-list {
    margin-top: 40px;
}

ul {
    list-style-type: none;
}
/* sidebar style end */

/* header styles */
.header {
    display: grid;
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    grid-template-columns: repeat(2, auto);
    background: white;
    color: black;
    padding: 20px;
    box-shadow: 0px 0px 4px 1px #000000;

}

.search {
    display: flex;
    gap: 10px;
}

input {
    width: 400px;
    height: 30px;
    border-radius: 10px;
    background: #dddcdc;
    border: none;
}

.top-header {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    font-weight: bold;
    padding-right: 20px;
    /* display: grid;
    grid-template-columns: repeat(5,1fr); */
}

.bottom-header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap:20px;
    padding-top: 50px;
}

button {
    width: 100px;
    height: 35px;
    border-radius: 50px;
    background: var(--sidebar-background);
    color: white;
}
/* heading styles end */

/* main styles */
.main {
    display: grid;
    grid-template-columns: 4fr 2fr;
    background: var(--project-background);
    box-shadow: 0px 0px 4px 1px #000000;
}
.projects {
    grid-column: 1/2;
    background: var(--project-background);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    gap: 20px;
    padding: 20px;

}

.project-title {
    display: grid;
    background: var(--project-background);
    padding-left: 20px;
    margin-top: 20px;
}


.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;   
    box-shadow: 0px 2px 8px rgb(152, 152, 152);
    margin-bottom: 20px;
    margin-right: 10px;
    border-radius: 5px;
    min-width: 265px;
}

.card-title,
.card-title a {
    display: flex;
    align-items: center;
    gap: 15px;
    color: black;
    padding: 5px;
    text-decoration: none;
}

.card-img {
    padding: 25px;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    overflow: hidden;
   
    
}

.card p {
    background:var(--p-background);
    color: black;
    padding: 5px;
    overflow: hidden;
}

.icons {
    display: flex;
    justify-content: end;
    align-items: center;
    top: 10px;
    gap: 15px;
    height: 40px;
    padding-right: 10px;
    background: var(--orange-color);
}

.exercises {
    display: grid;
    grid-column: 2/3;
    background: var(--project-background);
    padding: 20px;
    gap: 20px;
}